<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 加载redis配置文件 -->
	<context:property-placeholder location="classpath:redis.properties" file-encoding="utf-8"/>

	<!-- Jedis连接池 -->
	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig"
		p:maxIdle="${redis.maxIdle}"
		p:maxTotal="${redis.maxTotal}"
		p:maxWaitMillis="${redis.maxWaitMillis}"
		p:testOnBorrow="${redis.testOnBorrow}" />
	
	<!-- Jedis连接器 -->
	<bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
		p:host-name="127.0.0.1"
		p:port="6379"
		p:password="root"
		p:usePool="true"
		p:poolConfig-ref="jedisPoolConfig" />

	<!-- RedisTemplate对象 -->
	<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate"
		p:connectionFactory-ref="jedisConnectionFactory" />
	
	<!-- StringRedisTemplate对象 -->
	<bean id="stringRedisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate"
		p:connectionFactory-ref="jedisConnectionFactory" />
		
</beans>