<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration 
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	<!-- 加载数据库配置文件 -->
	<properties resource="jdbc.properties"></properties>
	
	<!-- 配置别名 -->
	<typeAliases>
		<package name="com.wez.mybatis.entity"/>
	</typeAliases>
	
	<!-- 配置数据源 -->
	<environments default="development">
		<environment id="development">
			<!-- 配置事务管理 -->
			<transactionManager type="JDBC" />
			<!-- 配置数据库连接池 -->
			<dataSource type="POOLED">
				<property name="driver" value="${mysql.driver}"></property>
				<property name="url" value="${mysql.url}"></property>
				<property name="username" value="${mysql.username}"></property>
				<property name="password" value="${mysql.password}"></property>
			</dataSource>
		</environment>
	</environments>
	
	<!-- 管理映射文件 -->
	<mappers>
		<mapper resource="com/wez/mybatis/dao/mapper/GoodsMapper.xml" />
	</mappers>
</configuration>